.bookItem {
  width: 230px;
  height: 330px;
  margin: 3vh;
  padding: 10px;
  border: #002329 dotted 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1.5vw 2vh 2vh 0.5vh #00232977;
}

.bookItem:hover {
  box-shadow: 0vw 0vh 2vh 0.5vh #002329aa;
}

.bookImg {
  height: 270px;
  width: 100%;
  overflow-y: hidden;
}

/* .bookImg:hover {
  height: 275px;
  width: 102%;
} */

.bookInfo {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00232911;
  font-weight: 900;
  color: #002329aa;
  text-shadow: 1vw 0 0.7vw #00232999;
}

.bookImg:hover {
  cursor: pointer;
}

.bookDetailImg {
  height: 270px;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  padding: 2%;
}
