.bookItem {
  width: 230px;
  height: 330px;
  margin: 10px;
  padding: 10px;
  border: #002329 dotted 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookImg {
  height: 270px;
  width: 100%;
  overflow-y: hidden;
}

/* .bookImg:hover {
  height: 275px;
  width: 102%;
} */

.bookInfo {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00232911;
}

.bookItem:hover {
  cursor: pointer;
}
