.About {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 2em;
  border: solid 0.1em;
  padding-inline: 10%;
  border-color: black;

}

.clickText {
  cursor: pointer;
}

.aboutItems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  width: 100%;
}