.orderList {
  display: flex;
  flex-direction: column;
  margin: 1em;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}

.submitCart {
  font-size: medium;
  padding: 2em;
}

.btnGroup {
  display: flex;
}

.btn {
  margin-inline: 2em;
}

.sumTitle {
  display: inline-flexbox;
  text-align: center;
  place-items: center;
}