.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0%;
  border: red solid 2px;
  /* background-color: aqua; */
}

.title {
  margin: 2em;
  color: black;
  border: solid 0.1em;
  padding-inline: 10%;
  border-color: black;

}


.loginForm {
  color: black;
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.usernameInput {
  display: inline-flex;
  margin-inline: 2em;
}

.passwordInput {
  display: inline-flex;
  margin-inline: 2em;
}

.inputBox {
  margin-inline: 2em;
}

.switchMod {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  color: black
}

.modSwitch {
  background-color:#2c3e50;
  color: white;
  padding-right: 1em;
  border-radius: 0.4em;
  margin-inline: 2em;
}

.registerTable {
  color: black;
}