.aboutItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw ;
  border-radius: 1vw;
  cursor: pointer;
  width: 100%;
}

.aboutItemImg {
  display: flex;
  place-items: center;
  width: 80%;
  height: 80%;
}

.clickText {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color:#002329;
  width: 7em;
  padding: 1vm;
  margin: 20%;
  border-radius: 1em;
}

.clickText:hover {
  color: antiquewhite;
  background-color:#2c3e50;
}