.footer {
  width: 100vw;
  height: 7vh;
  border-top: springgreen 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  font-weight: bolder;
  border-top: #22222233 dotted 0.3vh;
}
