@font-face {
  font-family: 'MyFont';
  src: url(./assets/font/9335dc860e2d6865b7ea5b9216c2dd83.ttf); /* PingFang SC 挺好看的字体:p*/
}
body {
  margin: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
  overflow-y: overlay;
}
.App {
  width: 100vw;
  font-family: 'Myfont';
}

.content {
  width: 90vw;
  margin-left: 5vw;
  background-color: #fff;
  box-shadow: 0 -4vh 3vh 3vh #22222233;
}
